/* スクロールバー表示設定 */
html {
	overflow-y: scroll;
}

a:link { color: #00F; }
a:visited { color: #00F; }

img {
	max-width: 90%;
}

p {
	line-height: 1.5;
}

hr {
	width: 95%;
	margin-left: 1%;
	border: 0;
	border-top: 1px dashed #DDD;
}

header .site-title {
	text-shadow: -1px 1px 0 rgba(0,0,0,0.1);
	font-size: 2.75em;
	margin-bottom: 0px;
}

header .site-title a {
	text-decoration: none;
	color: #000;
}

header .site-title a:hover {
	text-decoration: underline;
}

header .site-subtitle {
	margin-top: 0px;
	font-size: 1.25em;
	color:#000;
}

.container {
	padding: 16px;
}

.tag-list-title {
	font-size: 2.25em;
	padding-bottom: 8px;
	margin-top: 0px;
	margin-bottom: 0px;
	border-bottom: 1px dashed #AAA;
}

.tag-list-title a {
	text-decoration: none;
	color: #000;
}

.tag-list-title a:hover {
	text-decoration: underline;
}

article.post-list-article {
	padding-top: 10px;
	padding-bottom: 10px;
}

article.post-list-article + article.post-list-article {
	border-top: 1px dashed #AAA;
}

article.post-list-article + nav.pagination {
	border-top: 1px dashed #AAA;
}

.post-list-article-title {
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 2em;
}

.post-list-article-title a {
	text-decoration: none;
	color: #000;
}

.post-list-article-title a:hover {
	text-decoration: underline;
}

.post-list-article-datetime {
	font-size: 0.75em;
	color: #666;
}

.post-list-article-categories {
	margin-top: 0px;
}

.post-list-article-tags {
	margin-top: 0px;
}

.post-list-article-categories + .post-list-article-tags {
	margin-top: -1em;
}

article.article {
	padding-top: 10px;
	margin-right: 4%;
}

.article-title {
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 2em;
}

.article-title a {
	text-decoration: none;
	color: #000;
}

.article-title a:hover {
	text-decoration: underline;
}

.article-datetime {
	font-size: 0.75em;
	color: #666;
}

.article-categories {
	margin-top: 0px;
}

.article-tags {
	margin-top: 0px;
}

.article-categories + .article-tags {
	margin-top: -1em;
}

article.article + .article-nav-adjacent {
	border-top: 1px dashed #AAA;
    padding-top: 16px;
    padding-bottom: 16px;
}

.article-link-border {
	border-left: 1px solid #666;
	margin-left: 16px;
	margin-right: 16px;
}

nav.pagination {
	padding-top: 16px;
	padding-bottom: 16px;
}

.sidebar-content {
	padding: 8px 12px;
	background-color: #DDD;
}

.sidebar-content h2.panel-title {
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 2px 8px;
	border-bottom: 1px dashed #AAA;
	border-left: 10px solid #AAA;
}

.sidebar-content h2.panel-title a {
	text-decoration: none;
	color: #000;
}

.sidebar-content h2.panel-title a:hover {
	text-decoration: underline;
}

body { 
	margin: 0 auto;
	padding: 0px 8px;
	max-width: 1400px;
}

header {
	padding: 16px;
	background: #AAA;
}

.head-nav {
	padding: 4px 16px;
	background: #DDD;
	border-bottom: 1px solid #AAA
}

nav ul {
	list-style-type: none;
	display: inline;
	padding: 0
}

nav li {
	list-style-type:none;
	display:inline;
	margin-right:6px;
}

nav li+li {
	padding-left: 10px;
	border-left: 1px solid rgba(255, 255, 255, 0.5);
	box-shadow: -1px 0 0 #666;
}

footer {
	text-align: center;
	font-size: 80%;
}

/* desktop */
@media only screen and (min-width: 1025px){
	/* layout */
	.container{
		display: -webkit-flex;
		display: flex;
		min-width:940px;
	}

	.main-content{
		/*width: 620px;*/
		-webkit-flex: 1;
		flex: 1;
		margin: 0px 8px 0px 0px;
		min-width:700px;
	}

	aside.sidebar {
		min-width: 220px;
		max-width: 30%;
	}
}

/* mobile */
@media only screen and (max-width: 1024px){
	html{
		font-size: 90%;
	}
	body { 
		word-wrap:break-word;
		padding: 0;
		width: 100%;
	}
}


