    <aside class="sidebar">
        <div class="sidebar-content">
            <section>
                <h2 class="panel-title">Recent Posts</h2>
                <ul>
                {{ range first 6 (where (where .Site.Pages "Type" "post") "Page.Kind" "!=" "section")}}<li><a href="{{.Permalink}}" class="list-group-item">{{ .Title }}</a></li>
                {{ end }}</ul>
            </section>
            {{ $baseurl := .Site.BaseURL }}
            <section>
                <h2 class="panel-title"><a href="/categories/">Categories</a></h2>
                <ul>
                {{ range $name, $value := .Site.Taxonomies.categories }}<li><a href="/categories/{{ $name | urlize }}">{{ $name }} ({{ .Count }})</a></li>
                {{ end }}</ul>
            </section>
            <section>
                <h2 class="panel-title"><a href="/tags/">Tags</a></h2>
                <ul>
                {{ range $name, $value := .Site.Taxonomies.tags }}<li><a href="/tags/{{ $name | urlize }}">{{ $name }} ({{ .Count }})</a></li>
                {{ end }}</ul>
            </section>
        </div>
    </aside>
