{{ partial "header" . }}

        {{ $paginator := .Paginate (where (where .Site.Pages.ByDate.Reverse "Type" "post") "Page.Kind" "!=" "section") 8 }}{{ range $paginator.Pages }}
        <article class="post-list-article">
            <h2 class="post-list-article-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
            <span class="post-list-article-datetime"><time>{{ .Date.Format "2006-01-02 15:04:05" }}</time></span>
            {{ with .Params.categories }}<p class="post-list-article-categories">Category:{{ range . }}
            <a href="/categories/{{ . | urlize}}/">{{ . }}</a>{{ end }}</p>{{ end }}
            {{ with .Params.tags }}<p class="post-list-article-tags">Tag:{{ range . }}
            <a href="/tags/{{ . | urlize}}/">{{ . }}</a>{{ end }}</p>{{ end }}
            <div class="post-content">
                {{ .Summary }}
            </div>{{ if .Truncated }}
            <div class="read-more-link">
                <a href="{{ .RelPermalink }}">Read More...</a>
            </div>{{ end }}
        </article>{{ end }}


{{ partial "pagination" . }}
{{ partial "footer" . }}
